In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np

In [2]:
hero_df = "../Resources/purchase_data.csv"
hero_df = pd.read_csv(hero_df)
hero_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [3]:
hero_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [90]:
total_players = hero_df["SN"].nunique()
total_playersdf = [{"Total Players": total_players}]
tpdf = pd.DataFrame(total_playersdf)
tpdf

   Total Players
0            576

In [93]:
totals = [{"Number of Unique Items":hero_df["Item ID"].nunique(),
                         "Average Purchase Price":hero_df["Price"].mean(),
                         "Total Number of Purchases":len(hero_df.index),
                         "Total Revenue":hero_df["Price"].sum()}]
totals_df = pd.DataFrame(totals)
totals_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [12]:
cleanhero_df = hero_df.dropna(how = "any")
cleanhero_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [15]:
gendergrp = cleanhero_df.groupby(["Gender"])
gendergrp.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81

In [16]:
gender_demographics = pd.DataFrame({"Total Count":gendergrp["Gender"].count(),
                                    "Percentage of players":gendergrp["Gender"].count()/total_players*100})
gender_demographics

                       Total Count  Percentage of players
Gender
Female                         113              19.618056
Male                           652             113.194444
Other / Non-Disclosed           15               2.604167

In [60]:
totalgendergrp_df = pd.DataFrame({"Purchase Count":gendergrp["Price"].count(),
                "Average Purchase Price":gendergrp["Price"].mean(),
                "Total Purchase Value":gendergrp["Price"].sum(),
                "Average Purchase Total per Person by Gender":total_purchase_value/gendergrp["Gender"].count()})
totalgendergrp_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [56]:
group_names = ["<10", "10-14", "15-18", "19-22", 
               "23-26", "27-30", "31-34", "35-39",
               "39-40", ">40"]
bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 100]
agegrp = cleanhero_df.groupby(pd.cut(cleanhero_df["Age"], bins, labels=group_names))
total_age_df = pd.DataFrame({"Purchase Count":age_demo_grp["Price"].count(), 
                            "Average Purchase Price":agegrp["Price"].mean(),
                            "Total Purchase Value":agegrp["Price"].sum(),
                            "Average Purchase Total per Person by Age Group":agegrp["Price"].sum()/agegrp["SN"].nunique()})
total_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age,,,,
<10,23,3.353478,77.13,4.537059
10-14,26,2.918077,75.87,3.793500
15-18,89,3.006742,267.60,3.769014
19-22,210,3.082190,647.26,4.315067
23-26,263,3.045247,800.90,4.237566
27-30,42,2.645238,111.10,3.267647
31-34,64,2.997969,191.87,4.263778
35-39,35,3.209429,112.33,4.160370
39-40,21,3.532381,74.18,4.636250
>40,7,3.075714,21.53,3.075714

In [58]:
spendgrp = cleanhero_df.groupby(["SN"])
spend_df = pd.DataFrame({"Purchase Count":spendgrp["Price"].count(),
                            "Average Purchase Price":spendgrp["Price"].mean(),
                            "Total Purchase Value":spendgrp["Price"].sum()})
spend_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [59]:
populargrp = cleanhero_df.groupby(['Item ID','Item Name'])
popular_df = pd.DataFrame({"Purchase Count":populargrp ["Price"].count(), 
                            "Item Price":populargrp ["Price"].mean(),
                            "Total Purchase Value":populargrp ["Price"].sum()})
popular_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [102]:
profitgrp = cleanhero_df.groupby(['Item ID','Item Name'])
profit_df = pd.DataFrame({"Purchase Count":profitgrp["Price"].count(), 
                          "Item Price":profitgrp["Price"].mean(),
                          "Total Purchase Value":profitgrp["Price"].sum()})
profit_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [ ]:
#Three observable remarks from the data set are:
#Ages 23-26 had the highest purchase counts.
#Females paid a higher average purchase count while males had a higher average purchase count.
#The percentage of males is considerably higher than females.