In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np

In [2]:
hero_df = "../Resources/purchase_data.csv"
hero_df = pd.read_csv(hero_df)
hero_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [3]:
hero_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [16]:
total_players = pd.DataFrame({"Total Players" : hero_df["SN"].nunique()},hero_df.index)
total_players.head(1)

   Total Players
0            576

In [5]:
items = hero_df["Item ID"].nunique()
items

183

In [6]:
avg_price = hero_df["Price"].mean()
avg_price

3.050987179487176

In [7]:
total_purchases = len(hero_df.index)
total_purchases

780

In [8]:
total_revenue = hero_df["Price"].sum()
total_revenue

2379.77

In [24]:
total_df = pd.DataFrame.from_dict({"Number of Unique Items": [items], 
                    "Average Purchase Price": [avg_price],
                    "Total Number of Purchases": [total_purchases],
                    "Total Revenue":[total_revenue]}, orient = "columns")
total_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [10]:
genderherodf = pd.DataFrame(hero_df.drop_duplicates(["SN"]))
gendergrp = hero_df.groupby(["Gender"])
gendergrp.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81

In [11]:
gender_total = pd.DataFrame({"Total Count":gendergrp["Gender"].count(),"Percentage of players":gendergrp["Gender"].count()/total_players*100})
gender_total.head()

                       Total Count  Percentage of players
Gender
Female                         113              19.618056
Male                           652             113.194444
Other / Non-Disclosed           15               2.604167

In [26]:
purchase_count = len(gendergrp.index)
purchase_count

AttributeError: Cannot access attribute 'index' of 'DataFrameGroupBy' objects, try using the 'apply' method