In [2]:
%matplotlib notebook
import pandas as pd
import numpy as np

In [3]:
hero_df = "../Resources/purchase_data.csv"
hero_df = pd.read_csv(hero_df)
hero_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [6]:
hero_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [25]:
total_players = hero_df["SN"].nunique()
total_players

576

In [12]:
items = hero_df["Item ID"].nunique()
items

183

In [15]:
avg_price = hero_df["Price"].mean()
avg_price

3.050987179487176

In [20]:
total_purchases = len(hero_df.index)
total_purchases

780

In [24]:
total_revenue = hero_df["Price"].sum()
total_revenue

2379.77

In [26]:
hero_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56